.product-card:hover {
    transform: scale(1.1);
    -webkit-filter: brightness(50%);
    -webkit-transition: 0.2s all;
}
.product-card{
    color: #000;
  position: relative;
  height: 350px;
  /* width: calc(25% - 20px); */
  /* padding: 6px; */
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  /* -webkit-transition: 0.2s all; */
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .product-card img {
   width: 50%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: 0.2s all;
  object-fit: contain;
} 

